  <div class="group">
    <%= f.label :software, "Logiciel", :class => :label %>
    <%= f.text_field :software, :class => 'text_field', :size => 100 %>
  </div>

  <div class="group">
    <%= f.label :version, "Version", :class => :label %>
    <%= f.text_field :version, :class => 'text_field', :size => 5 %>
    <span class="description">Chiffre uniquement</span>
  </div>

  <div class="group">
    <%= f.label :licenseType, "Type de license", :class => :label %>
    <%= f.text_field :licenseType, :class => 'text_field' %>
    <span class="description">Standard, pro, corporate, premium, etc.</span>
		<div id="textajax"></div>
  </div>

  <div class="group">
    <%= f.label :language, "Langue", :class => :label %>
    <%= f.select :language, @languages %>
  </div>
	
  <div class="group">
    <%= f.label :operating_system_id, "Système d'exploitation", :class => :label %>
    <%= f.collection_select :operating_system_id, @os, :id, :name %>
  </div>

  <div class="group">
    <%= f.label :serial, "Numéro de série", :class => :label %>
    <%= f.text_field :serial, :class => 'text_field', :size => 100 %>
    <span class="description">Chiffres et lettres acceptés</span>
  </div>
	<div class="group">
  	<%= f.label :user, "Utilisateur", :class => :label %>
  	<%= f.text_field :user, :class => 'text_field' %>
  	<span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :hardware_id, "Installé sur poste", :class => :label %>
    <%= f.collection_select :hardware_id, @hardwares, :id, :idNum, :prompt => true %>
  </div>

  <div class="group">
    <%= f.label :server_id, "Installé sur serveur", :class => :label %>
    <%= f.collection_select :server_id, @servers, :id, :servName, :prompt => true %>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Sauvegarder &rarr;" /> or <%= link_to 'Annuler', licenses_path %>
</div>

<%= observe_field :licenseType, :update => "testajax" %>