
  <div class="group">
    <%= f.label :software, "Software", :class => :label %>
    <%= f.text_field :software, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :version, "Version", :class => :label %>
    <%= f.text_field :version, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :language, "Language", :class => :label %>
    <%= f.text_field :language, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :serial, "Serial", :class => :label %>
    <%= f.text_field :serial, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :user, "User", :class => :label %>
    <%= f.text_field :user, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :os, "Os", :class => :label %>
    <%= f.text_field :os, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :licenseType, "Licensetype", :class => :label %>
    <%= f.text_field :licenseType, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :numLicense, "Numlicense", :class => :label %>
    <%= f.text_field :numLicense, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :numInstalled, "Numinstalled", :class => :label %>
    <%= f.text_field :numInstalled, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :hardware_id, "Hardware_id", :class => :label %>
    <%= f.text_field :hardware_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :server_id, "Server_id", :class => :label %>
    <%= f.text_field :server_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', licenses_path %>
</div>