<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'Liste', licenses_path  %></li>
      <li><%= link_to 'Nouveau', new_license_path %></li>
      <li class="active"><%= link_to 'Édition', edit_license_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">            
    <h2 class="title">Édition de license</h2>
    <div class="inner">
      <% form_for @license, :url => license_path(@license), :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
				<div class="group navform">
				<%= link_to "Dupliquer", clonage_license_path(@license) %>
				</div>
      <% end -%>
    </div>
  </div>
</div>