<h1>Liste du Matériel</h1>
<table>
	<th>Logiciel</th>
	<th>Version</th>
	<th>Langue</th>
	<th>Numéro de série</th>
	<th>Système d'exploitation</th>
	<th>Type de license</th>
	<th>Nombre de licenses</th>
	<th>Installées</th>
	
	<% @licenses.each do |h| -%>
		<tr>
			<td><%= h.software %></td>
			<td><%= h.version %></td>
			<td><%= h.language %></td>
			<td><%= h.serial %></td>
			<td><%= h.os %></td>
			<td><%= h.licenseType %></td>
			<td><%= h.numLicense %></td>
			<td><%= h.numInstalled %></td>
			<td><%= link_to "Éditer", edit_license_path(h.id) %></td>
			<td><%= link_to "Effacer", license_path(h.id), :confirm => "Êtes-vous sûr?", :method => :delete %></td>
		</tr>
	<% end -%>
</table>