
  <div class="group">
    <%= f.label :usage, "Usage", :class => :label %>
    <%= f.text_field :usage, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :privIp, "Ip privée", :class => :label %>
    <%= f.text_field :privIp, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :pubIp, "Ip publique", :class => :label %>
    <%= f.text_field :pubIp, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :servName, "Nom", :class => :label %>
    <%= f.text_field :servName, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :priUrl, "URL primaire", :class => :label %>
    <%= f.text_field :priUrl, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :secUrl, "URL secondaire", :class => :label %>
    <%= f.text_field :secUrl, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :usrLocal, "Utilisateur local", :class => :label %>
    <%= f.text_field :usrLocal, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :passLocal, "Mot de passe local", :class => :label %>
    <%= f.text_field :passLocal, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :maker, "Fabriquant", :class => :label %>
    <%= f.collection_select :maker, @makers, :id, :name %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :model, "Modèle", :class => :label %>
    <%= f.text_field :model, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :raid, "Raid", :class => :label %>
    <%= f.text_field :raid, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

	<div class="group">
    <%= f.label :numHd, "Nombre de disques", :class => :label %>
    <%= f.text_field :numHd, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :configHd, "Configuration des disques", :class => :label %>
    <%= f.text_field :configHd, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :os, "Système d'exploitation", :class => :label %>
    <%= f.collection_select :os, @os, :id, :name %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :osVersion, "Version", :class => :label %>
    <%= f.text_field :osVersion, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :osLang, "Langue", :class => :label %>
    <%= f.text_field :osLang, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :rack, "Cabinet", :class => :label %>
    <%= f.text_field :rack, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
	
	<div class="group">
    <%= f.label :rackPosition, "Position dans cabinet", :class => :label %>
    <%= f.text_field :rackPosition, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :relation, "Relation", :class => :label %>
    <%= f.text_field :relation, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :location_id, "Location_id", :class => :label %>
    <%= f.collection_select :location_id, @locations, :id, :building, :class => 'text_field' %>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Sauvegarder &rarr;" /> or <%= link_to 'Annuler', servers_path %>
</div>