<h1>Liste des serveurs</h1>
<table>
	<th>Nom</th>
	<th>Fabriquant</th>
	<th>Modèle</th>
	<th>Numéro de série</th>
	
	<% @servers.each do |h| -%>
	<tr>
		<td><%= h.servName %></td>
		<td><%= h.maker %></td>
		<td><%= h.model %></td>
		<td><%= h.serial %></td>
		<td><%= link_to "Éditer", edit_server_path(h.id) %></td>
		<td><%= link_to "Effacer", server_path(h.id), :confirm => "Êtes-vous sûr?", :method => :delete %></td>
	</tr>
	
	<% end -%>
</table>