<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'List', servers_path  %></li>
      <li><%= link_to 'New', new_server_path %></li>
      <li class="active"><%= link_to 'Show', server_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
    <div class="inner">
				<p>
          <b>Nom du serveur:</b>
          <%= @server.servName %>
        </p>
      	<p>
          <b>Fabriquant:</b>
          <%= @server.maker.name %>
        </p>
				<p>
          <b>Model:</b>
          <%= @server.model_number_id %>
        </p>
        <p>
          <b>Usage:</b>
          <%= @server.usage %>
        </p>
				<p>
          <b>Utilisateur local:</b>
          <%= @server.usrLocal %>
        </p>
        <p>
          <b>Mot de passe local:</b>
          <%= @server.passLocal %>
        </p>
        <p>
          <b>IP privée:</b>
          <%= @server.privIp %>
        </p>
        <p>
          <b>IP publique:</b>
          <%= @server.pubIp %>
        </p>
        <p>
          <b>URL principale:</b>
          <%= @server.priUrl %>
        </p>
        <p>
          <b>URL secondaire:</b>
          <%= @server.secUrl %>
        </p>
			  <p>
          <b>Configuration Raid:</b>
          <%= @server.raid %>
        </p>
				<p>
          <b>Nombres de disque dur:</b>
          <%= @server.numHd %>
        </p>
        <p>
          <b>Configuration des disques:</b>
          <%= @server.configHd %>
        </p>
        <p>
          <b>Système d'exploitation:</b>
          <%= @server.operating_system.name %>
        </p>
        <p>
          <b>Version du système d'exploitation:</b>
          <%= @server.osVersion %>
        </p>
        <p>
          <b>Langue du système d'exploitation:</b>
          <%= @server.osLang %>
        </p>
	      <p>
					<b>EMplacement:</b>
					<%= @server.location_id %>
				</p>
        <p>
          <b>Cabinet:</b>
          <%= @server.rack %>
        </p>
				<p>
          <b>Position dans le cabinet (à partir du haut):</b>
          <%= @server.rackPosition %>
        </p>
        <p>
          <b>Relation avec un autre seveur:</b>
          <%= @server.relation %>
        </p>
      <%= link_to 'Edit', edit_server_path(@server) %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>