<p>
  <b>Nom d'utilisateur:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Nombre de connections:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Dernière demande:</b>
  <%=h @user.last_request_at %>
</p>

<p>
  <b>Dernière connection:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Connection présente:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Dernière adrresse IP:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Adresse IP actuelle:</b>
  <%=h @user.current_login_ip %>
</p>


<%= link_to 'Éditer', edit_account_path %>