
  <div class="group">
    <%= f.label :idNum, "Idnum", :class => :label %>
    <%= f.text_field :idNum, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :maker, "Maker", :class => :label %>
    <%= f.text_field :maker, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :mac, "Mac", :class => :label %>
    <%= f.text_field :mac, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :model, "Model", :class => :label %>
    <%= f.text_field :model, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :serial, "Serial", :class => :label %>
    <%= f.text_field :serial, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :location_id, "Location_id", :class => :label %>
    <%= f.text_field :location_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', hardwares_path %>
</div>