<% form_for @search, :html => { :class => :form } do |f| -%>
	<div class="group">
		<%= f.label :idNum, "Identifiant", :class => :label %>
		<%= f.text_field :idNum_like, :class => :text_field %>
	</div>
	<div class="group">
		<%= f.label :serial_like, "Numéro de série", :class => :label %>
		<%= f.text_field :serial_like, :class => :text_field %>
	</div>
	<div class="group">
		<%= f.label :model_number_name_like, "Modèle", :class => :label %>
		<%= f.text_field :model_number_name_like, :class => :text_field %>
	</div>
	<div class="group">
		<%= f.submit "Recherche", :disable_with => 'Recherche...' %>
	</div>
<% end -%>