<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to 'Liste', hardwares_path  %></li>
      <li><%= link_to 'Nouveau', new_hardware_path %></li>
      <li class="active"><%= link_to 'Voir', hardware_path %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b>Numéro d'indentification:</b>
          <%= @hardware.idNum %>
        </p>

        <p>
          <b>Fabriquant:</b>
          <%= @hardware.maker.name %>
        </p>
				<% if @hardware.mac1 %>
        <p>
          <b>Adresse mac:</b>
          <%= @hardware.mac1 %>
        </p>
				<% end -%>
				<% if @hardware.mac2 %>
					<p>
						<b>Adresse mac 2:</b>
	          <%= @hardware.mac2 %>
					</p>
				<% end -%>
        <p>
          <b>Modèle:</b>
          <%= @hardware.model_number.name %>
        </p>

        <p>
          <b>Numéro de série:</b>
          <%= @hardware.serial %>
        </p>

        <p>
          <b>Emplacement:</b>
          
        </p>
      <%= link_to 'Éditer', edit_hardware_path(@hardware) %>
    </div>
		<div class="inner">
			<table class="table">
				<th>Logiciel</th>
				<th>Numéro de série</th>
				<% @hardware.licenses.each do |lic| %>
					<tr class='<%= cycle("even", "odd") %>'>
						<td><%= link_to lic.software, license_path(lic) %></td>
						<td><%= lic.serial %></td>
					</tr>
				<% end -%>
			</table>
		</div>
  </div>
</div>