<div class="box">	
	<div class="block" id="block-login">
	  <h2>Ouverture de session</h2>        
	  <div class="content login">
	    <div class="flash">
	      <% flash.each do |type, message| -%>
	      <div class="message <%%= type %>">
	        <p><%=  message %></p>
	      </div>
	      <% end -%>
	    </div>
	    <% form_for @user_session, :url => user_session_path, :html => {:class => 'form login'} do |f| -%>
	      <div class="group">
	        <div class="left">
	          <%= f.label :login,"Login", :class => 'label right' %>
	        </div>
	        <div class="right">
	          <%= f.text_field :login, :class => :text_field %>
	        </div>              
	        <div class="clear"></div>
	      </div>
	      <div class="group">
	        <div class="left">
	          <%= f.label :password,"Mot de passe", :class => 'label right' %>
	        </div>
	        <div class="right">
	          <%= f.password_field :password, :class => :text_field %>
	        </div>              
	        <div class="clear"></div>
	      </div>
				<div class="group">
	        <div class="left">
	          <%= f.label :remember_me,"Rappelle toi de moi", :class => 'label right' %>
	        </div>
	        <div class="right">
	          <%= f.check_box :remember_me %>
	        </div>              
	        <div class="clear"></div>
	      </div>
	      <div class="group navform">
	        <div class="right">
	        	<%= f.submit "Soumettre", :disable_with => 'Soumettre...', :class => :button %>
	        </div>
	        <div class="clear"></div>
	      </div>            
	    <% end -%>
	  </div>
	</div>
</div>
