  <div class="group">
    <%= f.label :idNum, "Numéro d'indentification", :class => :label %>
    <%= f.text_field :idNum, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :diag, "Diagonale", :class => :label %>
    <%= f.text_field :diag, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :serial, "Numéro de série", :class => :label %>
    <%= f.text_field :serial, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :maker, "Fabriquant", :class => :label %>
    <%= f.text_field :maker, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :model, "Modèle", :class => :label %>
    <%= f.text_field :model, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :server_id, "Serveur", :class => :label %>
    <%= f.collection_select :server_id, @servers, :id, :servName, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :harware_id, "Ordinateur", :class => :label %>
    <%= f.collection_select :harware_id, @hardwares, :id, :idNum, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Sauvegarder &rarr;" /> or <%= link_to 'Annuler', accessories_path %>
</div>