<h1>Liste des accessoires</h1>
<table>
	<th>Numéro d'inventaire</th>
	<th>Fabriquant</th>
	<th>Modèle</th>
	<th>Numéro de série</th>
	<th>Diagonale</th>
	
	<% @accessories.each do |h| -%>
	<tr>
		<td><%= h.idNum %></td>
		<td><%= h.maker %></td>
		<td><%= h.model %></td>
		<td><%= h.serial %></td>
		<td><%= h.diag %></td>
		<td><%= link_to "Éditer", edit_accessory_path(h.id) %></td>
		<td><%= link_to "Effacer", accessory_path(h.id), :confirm => "Êtes-vous sûr?", :method => :delete %></td>
	</tr>
	
	<% end -%>
</table>