
  <div class="group">
    <%= f.label :building, "Building", :class => :label %>
    <%= f.text_field :building, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :num, "Num", :class => :label %>
    <%= f.text_field :num, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :floor, "Floor", :class => :label %>
    <%= f.text_field :floor, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', locations_path %>
</div>