<h1>Liste des emplacements</h1>
<table>
	<th>Bâtiment</th>
	<th>Adresse</th>
	<th>Étage</th>
	
	<% @locations.each do |h| -%>
	<tr>
		<td><%= h.building %></td>
		<td><%= h.num %></td>
		<td><%= h.floor %></td>
		<td><%= link_to "Éditer", edit_location_path(h.id) %></td>
		<td><%= link_to "Effacer", location_path(h.id), :confirm => "Êtes-vous sûr?", :method => :delete %></td>
	</tr>
	
	<% end -%>
</table>