<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<span style="float: right; text-align: right;"><%= link_to "Password reset tutorial", "http://www.binarylogic.com/2008/11/16/tutorial-reset-passwords-with-authlogic" %><br />
<%= link_to "OpenID tutorial", "http://www.binarylogic.com/2008/11/21/tutorial-using-openid-with-authlogic" %> | <%= link_to "Authlogic Doc", "http://authlogic.rubyforge.org/" %></span>

<h1>Fishpond 0.1</h1>
<h4>Follow your hardware, your servers and your licenses.</h4>

<!-- This based on last_request_at, if they were active < 10 minutes they are logged in -->
<%= pluralize User.logged_in.count, "utilisateur(s)" %> présentement connecté(s)
<br /><br /><br />

<% if !current_user %>
  <%= link_to "Enregistrement", new_account_path %> |
  <%= link_to "Connection", new_user_session_path %>
<% else %>
  <%= link_to "Mon compte", account_path %> |
  <%= link_to "Déconnection", user_session_path, :method => :delete, :confirm => "Voulez-vous vraiment déconnecter?" %>
<% end %>

<ul id= 'menu'>
	<li><h4>Matériel</h4>
		<ul>
			<li><%= link_to "Liste", hardwares_path %></li>
			<li><%= link_to "Ajout", new_hardware_path %></li>
			<li>Enlever</li>
		</ul>
	</li>
	<li><h4>Licenses</h4>
		<ul>
			<li><%= link_to "Liste", licenses_path %></li>
			<li><%= link_to "Ajout", new_license_path %></li>
			<li>Enlever</li>
		</ul>
	</li>
	<li><h4>Serveurs</h4>
		<ul>
			<li><%= link_to "Liste", servers_path %></li>
			<li><%= link_to "Ajout", new_server_path %></li>
			<li>Enlever</li>
		</ul>
	</li>
	<li><h4>Accessoires</h4>
		<ul>
			<li><%= link_to "Liste", accessories_path %></li>
			<li><%= link_to "Ajout", new_accessory_path %></li>
			<li>Enlever</li>
		</ul>
	</li>
	<li><h4>Emplacement</h4>
		<ul>
			<li><%= link_to "Liste", locations_path %></li>
			<li><%= link_to "Ajout", new_location_path %></li>
			<li>Enlever</li>
		</ul>
	</li>
</ul>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
