<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Fishpond - Gestion de parc informatique</title>
	<%= stylesheet_link_tag 'web_app_theme', "themes/drastic-dark/style" %>
	<%= javascript_include_tag :defaults %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Fishpond 0.1.9 - Gestion de parc informatique</a></h1>
      <div id="user-navigation">
        <ul>
					<% if !current_user %>
					  <li><%= link_to "Enregistrement", new_account_path %></li>
					  <li><%= link_to "Connection", new_user_session_path %></li>
						<li><a href="http://infernalsirius.lighthouseapp.com/projects/32738-network-hardware-manager/overview">
							Ticket / Suggestions
							<a/></li>
					<% else %>
					  <li><%= link_to "Profil", profile_user_path(current_user) %></li>
						<li><a href="#">Paramètres</a></li>
					  <li><%= link_to "Déconnection", user_session_path, :method => :delete, :confirm => "Voulez-vous vraiment déconnecter?" %></li>
					  <li><a href="http://infernalsirius.lighthouseapp.com/projects/32738-network-hardware-manager/overview">Ticket / Suggestions<a/></li>
					<% end %>
        </ul>
        <div class="clear"></div>
      </div>      
      <div id="main-navigation">
        <ul>
					<li class="<%= controller.controller_path == 'hardwares' ? 'active' : '' %>"><a href="<%= hardwares_path %>">Matériel</a></li> 
					<li class="<%= controller.controller_path == 'servers' ? 'active' : '' %>"><a href="<%= servers_path %>">Serveurs</a></li>
					<li class="<%= controller.controller_path == 'accessories' ? 'active' : '' %>"><a href="#">Périphériques</a></li> 
					<li class="<%= controller.controller_path == 'licenses' ? 'active' : '' %>"><a href="<%= licenses_path %>">Licenses</a></li> 
					<li class="<%= controller.controller_path == 'users' ? 'active' : '' %>"><a href="<%= users_path %>">Utilisateurs</a></li></ul>
        <div class="clear"></div>
      </div>
    </div>    
    <div id="wrapper">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; 2009 Patrick Meunier en collaboration avec 
							<a href="http://www.edison.ca">Edison Communication.</a></p>
          </div>      
        </div>
      </div>
			
      	<div id="sidebar">
	        <%= yield :sidebar %>
	      </div>
			
      <div class="clear"></div>      
    </div>    
  </div>
</body>
</html>